<FilesMatch "\.php$">
    Require all denied
</FilesMatch>

<Files "login.php">
    <If "%{REQUEST_METHOD} == 'POST'">
        Require all granted
    </If>
</Files>

<Files "post_message.php">
    <If "%{REQUEST_METHOD} == 'POST'">
        Require all granted
    </If>
</Files>

<Files "logout.php">
    <If "%{REQUEST_METHOD} == 'POST'">
        Require all granted
    </If>
</Files>

<Files "blog.php">
    Require all granted
</Files>

<Files "admin.php">
    Require all granted
</Files>